html{
	min-width: 576px;
}

body {
	min-width: 576px;
}

.ca-container {
	max-width: 1010px;
	margin-left:auto;
	margin-right:auto;
}

.ca-queuelist-container {
	max-width: 600px;
}

.ca-queue-row {
	height: 70px;
	cursor: pointer;
}

.ca-checkbox {
	width: 2rem;
	text-align: center;
	font-size: 1.5rem;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .2s;
}

.ca-checkbox.ca-checked {
	opacity: 100 !important;
}

.ca-queue-row:hover .ca-checkbox {
	opacity: 100;
}

.ca-no-underline {
	text-decoration: none !important;
}

.ca-item-small {
	color: #555;
	font-size: 0.8rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ca-tag {
	font-family: 'Fira Mono', monospace;
	color: #222;
	font-weight: bold;
}

.ca-dimmed {
	color: #999;
	font-weight: lighter;
}

.ca-mono-font {
	font-family: 'Fira Mono', monospace;
}
